/*--Text styling and sizes--*/
h1 {
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    color: #0D0D0D;
}
h2 {
    font-family: Fira Sans Condensed, sans-serif;
    color: #0D0D0D;
}
h3 {
    font-family: Fira Sans Condensed;
    color: #0D0D0D;
}
h4 {
    font-family: Fira Sans Condensed;
    color: #0D0D0D;
}
h5 {
    font-family: Fira Sans Condensed;
    color: #0D0D0D;
}
h6 {
    font-family: Fira Sans Condensed;
    color: #BFBFBF;
}
/*--Base.html--*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #jumboid {
    width: 100%;
  }
  .bg-image {
    position: relative;
    background: url("https://res.cloudinary.com/dsp0aehyj/image/upload/v1674401447/pexels-nestor-cortez-960540_y1ji9z.jpg") no-repeat center center /cover;
    height: 450px;
    background-attachment: fixed;
  }
  .bg-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: 100%;
    height: calc(100% - 1px);
    background-image: url('a.jpg');
    background-size: cover;
  }
.nav-brand{
    padding-left: 50px;
    font-size: 3rem;
}
.nav-title{
    font-size: 1.5rem;
    padding-left: 50px;
}
.title-comma {
    color: #D3D925;
}
/*Scroll to top button*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #0D0D0D; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    }
#myBtn:hover {
    background-color: #D3D925;
  }
/*--nav bar--*/
li, a {
    font-family: Fira Sans Condensed;
    opacity: 1;
}
.nav-colour {
    color: gray;
}
.nav-colour:hover {
    color: #0D0D0D;
}
.dropdown-toggle:hover {
    color: #0D0D0D;
}
.dropdown-toggle:hover {
    color: #0D0D0D;
}
.nav-button {
    margin-left: 40px;
}
.navbar-buttons{
    margin-right: 20px;
}
.btn-outline-success {
    padding: 5px;
    margin-left: 10px;
}
/*--Index.html--*/
.header-title, .header-image {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin-top: 30px;
}
.header-text-bottom {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 0;
}
.image-container {
    width: 100%;
    position: relative;
}
.comp-container{
    background-color: #BFBFBF;
    opacity: 0.6;
    width: 50%;
}
.post-link, a{
    color: inherit;
    text-decoration: none;
}
.post-link:hover{
    cursor:pointer;
    color: inherit;  
    text-decoration:none; 
}
/*--Post cake section / index.html--*/
.card {
    display: inline-block;
    margin-bottom: 30px;
}
.col-sm-2 {
    margin-top: 10px;
}
.comp-cards{
    transition: all 0.1s ease;
    cursor: pointer;
}
.comp-cards:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
/* user likes */
.fa-heart, button {
    color: #e70c6b;
    border: none;
    border-color: #e70c6b;
}
/*--Post detail.html--*/
.fa-trash:hover{
    color: #ef0707;
}
.fa-pen-to-square:hover{
    color: #D3D925;
}
.card-title{
    font-family: Montserrat;
    font-weight: 100;
    font-weight: bold;
}
.card-text{
    font-family: Montserrat;
    font-weight: bold;
}

/*--cake menus--*/
.cake-menu-header {
    margin-top: 20px;
}

.contact-container{
    width: 70%;
    margin-top: 50px;
}
/*--Contact.html--*/
.submit-button:hover {
    color: #0D0D0D;
}
.contact-address {
    font-size: 1rem;
}
.contact-link:hover{
    color: #D3D925;
}
/*--Registration form--*/
.sign-up-header {
    color: #0D0D0D;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sign-up-header > button {
    font-size: 0.8rem;
}
.sign-up-form > h4 {
    font-family: Montserrat;
}
/*--Sign in form--*/
.form-label {
    font-family:  Montserrat;
    color: #0D0D0D;
}
.logged-in{
    margin-right: 10px;
}
/*--404.html--*/
/* .page-wrap-400 {
    min-height: 100vh;
    color: #BFBFBF;
} */
.img {
    width:80%;
    z-index: 0; }
    
.text-center {
z-index:1;
font-size: 1.2em
margin-top: -100px;
}
/*--500.html--*/
.page-wrap-500 {
    min-height: 100vh;
    color: #D3D925;
}
/*--Media querys / base.html--*/
/*For screen sizes max-width 400 pixels*/
@media screen and (max-width: 400px) {

    .nav-brand{
        font-size: 2rem;
    }

    h5 {
        font-size: 0.8rem;
    }
}
/*--Nav bar--*/
@media screen and (max-width: 991px) {

    .nav-brand{
        font-size: 2rem;
    }
}
/*Media querys / index.html*/
@media screen and (max-width: 991px) {
    .header-title{
        font-size: 1rem;
    }
    }
/*--Footer--*/
/* for phone screen size max-width 500 pixels */
@media screen and (max-width: 500px) {

    #footer-address{

        width: 300;
        height: 250;

        } 
    }
