/* -----------------------------------------TEXT STYLING------------*/
h1 {
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
}
h2 {
    font-family: Fira Sans Condensed, sans-serif;
}
h3 {
    font-family: Fira Sans Condensed;
}
h4 {
    font-family: Fira Sans Condensed;
}
h5 {
    font-family: Fira Sans Condensed;
    color: #0D0D0D;
}
h6 {
    font-family: Fira Sans Condensed;
    color: #BFBFBF;
}

/* -----------------------------------------BASE.HTML------------*/
@media screen and (max-width: 400px) {
    .nav-brand{
        font-size: 2rem;
    }
    h5 {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 991px) {
    .nav-brand{
        font-size: 2rem;
    }
}
.nav-brand, h5 {
    padding-left: 50px;
}


.title-comma {
    color: #D3D925;
}


/* -----------------------------------------NAV BAR------------*/

li, a {
    font-family: Fira Sans Condensed;
    opacity: 1;

}
.nav-colour {
    color: gray;
}
.nav-colour:hover {
    color: #0D0D0D;
}
.dropdown-toggle:hover {
    color: #0D0D0D;
}
.dropdown-toggle:hover {
    color: #0D0D0D;
}
.nav-button {
    margin-left: 40px;

}


/* -----------------------------------------Index.html------------*/

.header-title, .header-image {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin-top: 30px;
}
.header-text-bottom {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 0;
}
.image-container {
    width: 100%;
    position: relative;
}
.comp-container{
    background-color: #BFBFBF;
    opacity: 0.6;
    width: 50%;
}
.post-link, a{
    color: inherit;
    text-decoration: none;
    
}
.post-link:hover{
    cursor:pointer;
    color: inherit;  
    text-decoration:none; 
}
/* -----------------------------------------COMPETITION SECTION------------*/

.card {
    display: inline-block;
    margin-bottom: 30px;
  
}
.col-sm-2 {
    margin-top: 10px;
}
.comp-cards{
    transition: all 0.1s ease;
    cursor: pointer;
}
.comp-cards:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
/* user likes */
.fa-heart, button {
    color: #e70c6b;
    border: none;
    border-color: #e70c6b;
}
/* -----------------------------------------POST DETAIL PAGE------------*/

.fa-trash:hover{
    color: #ef0707;
}
.fa-pen-to-square:hover{
    color: #D3D925;
}

/* -----------------------------------------FOOTER------------*/
/* for iphone screen size */
@media screen and (max-width: 500px) {
#footer-address{
    display: none;
    
} 
}


/* -----------------------------------------CAKE MENUS TEMPLATES------------*/
.cake-menu-header {
    margin-top: 20px;
}

.contact-container{
    width: 70%;
    margin-top: 50px;
}


/* ----------------------------------------- CONTACT FORM -----------*/
.submit-button:hover {
    color: #0D0D0D;
}
.contact-form-header {
    font-size: 1rem;
    

}


/* ----------------------------------------- REGISTER FORM------------*/
.sign-up-header {
    color: #0D0D0D;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sign-up-header > button {
    font-size: 0.8rem;
}
.sign-up-form > h4 {
    font-weight: Montserrat;
}


/* -----------------------------------------LOGIN FORM------------*/
.form-label {
    font-family:  Montserrat;
    color: #0D0D0D;
}


/* -----------------------------------------404 ERROR PAGE------------*/

.page-wrap-400 {
    min-height: 100vh;
    color: #BFBFBF;
}
/* -----------------------------------------500 ERROR PAGE------------*/


.page-wrap-500 {
    min-height: 100vh;
    color: #D3D925;
}

