{% extends 'base.html' %}{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h5>Edit comment</h5>
            <div class="card-body">
                <form action="" method="POST">
                    {{comment_form | crispy}}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg"></button>
                </form>
            </div>
        </div>
    </div>
</div>



{% end content%}