<!--404 error page-->

<div class="container text-center col-md-10">
    <div class="text-center">
            <h1 style="background:rgb(249, 250, 249) text-center" >404 Server Error</h1>
            <h2 style="background:rgb(249, 250, 249)"  >Ooops, the page was not found.</h2>
            <button href="home_page">Return home</button>
            <div>
                <img src="https://res.cloudinary.com/djiqea4sz/image/upload/v1677180062/04_26_64_02_o27tb7.jpg" alt="person serching image" style="max-width:80%;">
            </div>
    </div>
</div> 