<!--404 error page-->

<div class="container">
    <div class="text-center">
            <h4 style="background:rgb(249, 250, 249)" >404 Server Error</h4>
            <h5 style="background:rgb(249, 250, 249)"  >Ooops, the page was not found.</h5>
            <div>
                <img src="https://res.cloudinary.com/djiqea4sz/image/upload/v1677180062/04_26_64_02_o27tb7.jpg" alt="person serching image" style="max-width:80%;">
            </div>
            <a href="{% url 'home' %}" class="link-button">Return Home</a>
    </div>
</div>   