{% extends 'base.html' %}

{% block content %}

<!-- 404 error page -->
<div class="page-wrap-500 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <h2>Oops something went wrong</h2>
                <div class="mb-4 lead">Due to an internal error we are unable to process this request. Please refresh to try again.</div>
                <a href="{% url 'index' %}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}