{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!--Title-->
  <title> Bake-house - {% block title%}{% endblock%}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
      content="Viktoria's bake house website. Please view our restaurant and find our menu cake reviews">
  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200&display=swap"
    rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
  </style>
  <!--Fonts awsome-->
  <script src="https://kit.fontawesome.com/5605f6cfce.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!--Fontawsome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <h1 class="nav-brand">V I K T O R I A<span class="title-comma">'</span>S  
      </h1>
      <h5 class="nav-title">- B A K E - H O U S E -</h5>
    </a>
    <!--Toggle button-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Collapsable nav bar-->
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
              <span class="nav-colour">HOME</span>
            </a>
          </li>
            <!--Drop down menu-->
          <li class="nav-item dropdown green-bground">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">MENU</a>
            <!-- Dropdown for the different menus options -->
            <ul class="dropdown-menu green-bground">
                <li><a class="dropdown-item" href="{% url 'choc_cake' %}">CHOCLATE CAKES</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'cream_cake' %}">CREAM CAKES</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'cheese_cake' %}">CHEESE CAKES</a>
                </li>
                <li>
            </ul>
        </li>
          <!--Contact form-->
        <li class="nav-item">
          <a class="nav-link nav-colour" href="{% url 'contact' %}">CONTACT</a>         
        </li>
      </ul>
      <!-- <span class="navbar-text navbar-buttons text-muted"> -->
            <!--If user is authenicated-->
        {% if user.is_authenticated %}
        <form class="btn btn-outline-success btn-sm"  action="{% url 'account_logout' %}">
          <button>Logout</button>
        </form>
          <!-- <button type="button" class="btn btn-outline-success btn-sm">
            <a class="nav-link" href="{% url 'account_logout' %}"><span class="nav-colour">Logout</span></a> -->
     
          <!--add user login name-->
          {% else %}
          <form class="btn btn-outline-success btn-sm" action="{% url 'account_signup' %}">
            <button>Register</button>
          </form>
          <!-- <button type="button" class="btn btn-outline-success  btn-sm">
            <a class="nav-link" href="{% url 'account_signup' %}"><span class="nav-colour">Register</span></a>
          </button> -->
          <form class="btn btn-outline-success btn-sm"  action="{% url 'account_login' %}">
            <button>Sign in</button>
          </form>
          <!-- <button type="button" class="btn btn-outline-success  btn-sm">
            <a class="nav-link" href="{% url 'account_login' %}" ><span class="nav-colour">Sign in</span></a>
          </button> -->
          {% endif %}
        <!-- </span> -->
      </div>
  </div>
</nav>

<!--Header image-->
<header>
  <div class="row">
    <div class="bg-image" id="jumboid">
    </div>
  </div>
</header>

<!--Scroll to top-->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<!-- Messsage handling  / Alerts -->
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

<main class="flex-shrink-0 main-bg">
  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}
</main>

<hr>

<!-- Footer -->
<footer class="text-center text-lg-start text-white footer-container">
  <div class="row">
    <!--Opening times-->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 font-weight-bold">
        OPENING TIMES
      </h5>
    <table class="table">
      <tbody>
        <tr>
          <td>Mon - Fri:</td>
          <td>8am - 9pm</td>
        </tr>
        <tr>
          <td>Sat - Sun:</td>
          <td>10am - 21am</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="col-md-3 col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 map-responsive" id="footer-address">
      <!--Google maps address-->
      <iframe src="https://maps.google.com/maps?q=london%20&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
      <!--Socail media links-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase font-weight-bold">Follow us</h5>
        <!-- Facebook -->
        <a class="btn  btn-floating m-1" style="background-color: #D4D948" href="https://www.facebook.com/" target="_blank"
          ><i class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a class="btn btn-floating m-1" style="background-color: #D6D979" href="https://twitter.com/" target="_blank"
          ><i class="fab fa-twitter"></i></a>
        <!-- Instagram -->
        <a class="btn btn-floating m-1" style="background-color: #D4D948" href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3">
      <h6>Copyright:2023 @viks-bake-house</h6>
    </div>
</footer>

<!--JavaScript file / file path-->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>