{% extends 'base.html' %}

{% block content %}


<div class="row m-2 row d-flex justify-content-center">
    <div class="col-sm-8">
        <h4 class="mb-4 text-center cake-menu-header ">"Because every cake has a story to tell"</h4>
        <!-- Loop through list to display only cheese cake items -->

        {% if cheese_cakes.cheese_items %}

        {% for cheesecakes in cheese_cakes.cheese_items %}

        <h4>{{ cheesecakes.cake_name }}</h4>

        <p>{{ cheesecakes.description }}</p>

        <p>Dietary | <strong>{{ cheesecakes.dietary }}</strong></p>

        <p>Allergens | <strong>{{ cheesecakes.allergens }}</strong></p>
        <hr>

        {% endfor %}

        {% endif %}
    </div>
</div>

<br>
<br>

</div>
<div class="row m-2 row d-flex justify-content-center">
    <div class="col-sm-8">
        <h4 class="mb-4 text-center cake-menu-header ">"Happiness starts here"</h4>
        <!-- Loop through list to display vegan cheese  cake items -->

        {% if cheese_cakes.vegan_items %}

        {% for cheesecakes in cheese_cakes.vegan_items %}

        <h4>{{ cheesecakes.cake_name }}</h4>

        <p>{{ cheesecakes.description }}</p>

        <p>Dietary | <strong>{{ cheesecakes.dietary }}</strong></p>

        <p>Allergens | <strong>{{ cheesecakes.allergens }}</strong></p>
        <hr>

        {% endfor %}

        {% endif %}
    </div>
</div>
{% endblock %}