{% extends 'base.html' %}

{% block content %}

<!--Cheese cake menu-->
<p style="font-size: 1rem; color: #BFBFBF;" class="text-center">
    <em>Cheese cakes</em>
</p>
<div class="row m-2 row d-flex justify-content-center">
    <div class="col-sm-8">
        {% if user.is_authenticated and user.is_staff %}
        <p>Please add an item to the menu here!</p>
        <a href="{% url 'add_menu' model='cheese_cake' %}" class="btn btn-primary">Add</a>
        {% endif %}
        <h4 class="mb-4 text-center cake-menu-header ">"Because every cake has a story to tell"</h4>
        <!-- Loop through list to display only cheese cake items -->
        {% if cheese_cakes.cheese_items %}
            {% for cheesecakes in cheese_cakes.cheese_items %}
                <h4>{{ cheesecakes.cake_name }}</h4>
                <p>{{ cheesecakes.description }}</p>
                <p>Dietary | <strong>{{ cheesecakes.dietary }}</strong></p>
                <p>Allergens | <strong>{{ cheesecakes.allergens }}</strong></p>
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'edit_menu' model='cheese_cake' pk=cheesecakes.pk %}" class="btn btn-info">Edit</a>
                    <a href="{% url 'delete_menu' model='cheese_cake' pk=cheesecakes.pk %}" class="btn btn-danger">Delete</a>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<br>
<br>
<div class="row m-2 row d-flex justify-content-center">
    <div class="col-sm-8">
        <h4 class="mb-4 text-center cake-menu-header ">"Happiness starts here"</h4>
        <!-- Loop through list to display vegan cheese  cake items -->
        {% if cheese_cakes.vegan_items %}
            {% for cheesecakes in cheese_cakes.vegan_items %}
                <h4>{{ cheesecakes.cake_name }}</h4>
                <p>{{ cheesecakes.description }}</p>
                <p>Dietary | <strong>{{ cheesecakes.dietary }}</strong></p>
                <p>Allergens | <strong>{{ cheesecakes.allergens }}</strong></p>
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'edit_menu' model='cheese_cake' pk=cheesecakes.pk %}" class="btn btn-info">Edit</a>
                    <a href="{% url 'delete_menu' model='cheese_cake' pk=cheesecakes.pk %}" class="btn btn-danger">Delete</a>
                    <hr>
                {% endif %}
                <hr>
            {% endfor %}
        {% endif %}
    </div>
    
</div>

{% endblock %}