{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center my-2">Chocolate cake <span class="brand-text">menu</span></h2>
            <!-- Dietary key -->
        </div>
    </div>
    <div class="row m-2 row d-flex justify-content-center">
        <div class="col-sm-8">
            <!-- Breakfast & Brunch menu -->
            <h3 class="mb-4 text-center">menu to be set below for white choclate cakes</h3>
            <!-- Loop through list to display only breakfast/bruch items -->

            <!--MENU TO UPDATE FROM THE ADMIN DATABASE-->

            {% if cake_items.choclate_items %}

            {% for cakeitem in cake_items.choclate_items %}

            <h1> {{ cakeitem.cake_name}} </h1>
            <p>{{ cakeitem.description}} | <em>{{ cakeitem.dietary }}</em>
            <strong>{{ cakeitem.allergens}}</strong>

            {% endfor%}

            {% else %}
            <p>Menu being updated. No items found</p>

            {% endif %}
 

        </div>
    </div>
</div>



{% endblock %}