{% extends 'base.html' %}

{% block content %}


    <div class="row m-2 row d-flex justify-content-center">
        <div class="col-sm-8">
            <!-- Breakfast & Brunch menu -->
            <h3 class="mb-4 text-center">Welcome to our menu of the cakes</h3>
            <!-- Loop through list to display only breakfast/bruch items -->

            <!--MENU TO UPDATE FROM THE ADMIN DATABASE-->

            {% if cake_items.choclate_items %}

            {% for cakeitem in cake_items.choclate_items %}

            <h3> {{ cakeitem.cake_name}} </h3>
            <p>{{ cakeitem.description}} | <em>{{ cakeitem.dietary }}</em>
            <strong>{{ cakeitem.allergens}}</strong>

            {% endfor%}

            {% else %}
            <p>Menu being updated. No items found</p>
           

            {% endif %}
            <hr>


            {% if cake_items.cream_items %}

            {% for cakeitem in cake_items.cream_items %}

            <h3>{{ cakeitem.cake_name}}</h3>
            <p>{{ cakeitem.description}} | <em>{{ cakeitem.dietary }}</em>
                <strong>{{ cakeitem.allergens}}</strong>

            {% endfor %}

            {% endif %}


 

        </div>
    </div>
</div>



{% endblock %}