{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center my-2">Chocolate cake <span class="brand-text">menu</span></h2>
            <!-- Dietary key -->
        </div>
    </div>
    <div class="row m-2 row d-flex justify-content-center">
        <div class="col-sm-8">
            <!-- Breakfast & Brunch menu -->
            <h3 class="mb-4 text-center">menu to be set below for white choclate cakes</h3>
            <!-- Loop through list to display only breakfast/bruch items -->

            <!--MENU TO UPDATE FROM THE ADMIN DATABASE-->
            {% if cake_items.cake_items %}

            {% for cakeitem in cake_items.cakeitem %}

            <h5> {{ cakeitem.cake_name }} </h5>
            <!-- Display price with 2 decimal spaces -->
            <p><em> {{ cakeitem.description }} </em>
            <p> {{ cakeitem.dietary }} | Allergens: <strong>{{ cakeitem.allergens }}</strong></p>

            {% endfor %}

            {% else%}
            <!-- If no items found display this placeholder -->
            <p>Menu being updated - please come back soon!</p>

            {% endif %}


{% endblock %}