{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!--Contact and booking form-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h4 class="text-center mt-2 mb-3">Contact us</h4>
            <p class="text-center contact-form-header">
                Please fill in the contact form below for any general enquiries
                Our team at Viktoria's will be touch.
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-sm-4 col-md-6">

            <form method="POST" class="contact-form full-form mb-5">

                {% csrf_token %}
                {{ form | crispy }}

                <button type="submit" class="button mt-4 submit-button btn btn-success">
                    Send message</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}