{% extends "base.html" %}

{% block content %}


contact form
<div class="container contact-container ">
  <!-- Content here -->
  <form class="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        
        <input name="name" type="text" class="form-control" placeholder="Full name">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>

          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

          <form class="was-validated">
            <div class="mb-3">
              <label for="validationTextarea">Textarea</label>
              <textarea name="message" class="form-control is-invalid" id="validationTextarea"
                placeholder="Comment here" required></textarea>
              <div class="invalid-feedback">
                Please enter a message in the textarea.

                <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </div>
    </div>
</div>
</div>
</div>

{%endblock%}