{% extends "base.html" %}

{% block content %} 


<!--contact form--->
<form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <form class="was-validated">
        <div class="mb-3">
          <label for="validationTextarea">Textarea</label>
          <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>
  </form>

{%endblock%}

