{% extends 'base.html' %}{% block content %}

<p style="font-size: 1rem; color: #BFBFBF;" class="text-center">
    <em>Only authorized administration can delete this menu<br>
        If you are not the administrator, please contact us!
    </em>
  </p>

<!-- Delete menu item confirmation -->
<div class="row m-2 row d-flex">
    <h2>Confirm Item Deletion</h2>
        <p>Are you sure you want to delete this item?</p>
    <form action="{% url 'delete_menu' model=model pk=pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" style="margin: 10px;">Delete</button>
        <a href="{% url 'choc_cake' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}