{% extends 'base.html'%}

{% block content %}

<!--Edit posts-->
<!-- <h1>Edit your post</h1>
{% for post in post %}
    <h5>{{post.title}}</h5>

    <h5>{{post.created_on}}</h5>
{% endfor %}
{% if commented %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting approval
    </div>
    <!-- <button class="btn btn-info btn-sm">
        <a href="{% url 'index' %}" class="post-link">Click to see more posts</a>
    </button> -->
    <form class="btn btn-outline-success btn-sm" action="{% url 'index' %}">
        <button>Rbvbv</button>
      </form> -->
{% endif %}

{% endblock %}