{% extends 'base.html' %}{% block content %}

{% load crispy_forms_tags %}

<!--Edit post-->
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Edit comment</h3>
            <div class="card-body">
                <form method="post">
                    {{comment_form | crispy}}
                    {% csrf_token %}
                    <p>title</p>
                    <input type="text" name="title" value="{{comment.title}}">
                    <br>
                    <p>Content</p>
                    <button type="submit" class="btn btn-success btn-sm">Save post</button>
                    <button class="btn btn-info btn-sm" href="{{post.content}}">View more posts</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}