{% extends 'base.html' %}{% block content %}

  {% load crispy_forms_tags %}
  <!-- Edit post form -->
  <p style="font-size: 1rem; color: #BFBFBF;" class="text-center">
    <em>Only authorized administration can edit this menu<br>
        If you are not the administrator, please contact us!
    </em>
  </p>

  <!-- Edit cake item form -->
  <div class="m-2 row d-flex justify-content-center">
    <div class="col-sm-8">
      <h2 class="mb-4 text-center cake-menu-header">Edit Cake menu</h2>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          {% if cake_items.choclate_items %}
          {% for cakeitem in cake_items.choclate_items %}
              <h4>{{ cakeitem.cake_name }}</h4>
              <p>{{ cakeitem.description }}</p>
              <p>Dietary | <strong>{{ cakeitem.dietary }}</strong></p>
              <p>Allergens | <strong>{{ cakeitem.allergens }}</strong></p>
              <hr>
              {% endfor %}
          {% else %}
          {% endif %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|as_crispy_field }}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-success">Save</button>
          <a href="{% url 'choc_cake' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
  </div>

{% endblock %}