{% extends "base.html" %}

{% block content %}

<!--header image and content-->
<div class="header-title text-center container-sm">
    <p>
        We create cakes that you expect, with plenty of variety and ingredients, <br>
        we have baked some of the most classic and authentic cakes for you to enjoy. <br>
    </p>
    <div class="image-container">
        <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674401447/pexels-nestor-cortez-960540_y1ji9z.jpg"
            class="img-thumbnail" alt="...">
    </div>
</div>
<br>

<br>

<div class=" header-title text-center container-sm">
    <p>All our produts come form a local source to help support the community and local  Businesses. <br>
        As we server a variety of fresh seasonal ingredients, we like to change our menu every <br>
        couple of weeks. We are located at 149 KING’S ROAD, London, so please feel free to pop <br>
        in and enjoy a cake with  a fine dinning experience. <br>
        We use dairy and non products to create wonderful cakes <br>
        please take a look at our menu for more details.
    
    </p>
</div>

<hr>

<div class="header-title text-center container-sm ">
    <h2 class=" justify-content-center">COMPETITION TIME</h2>
    <p>
        At Viktoria's we like to bake so much that we have a cake competition <br>
        each month. Come and check out our competition page for more information
        <em><h6>Click below to view more!</h6></em>
    </p>
</div>

<!-- Cake competition cards-->
<div class=" row content-center mb-5 ">
    <div class=" col-sm-8 col-md-12 col-lg-4  text-center ">
        <div class="card comp-cards" style="width: 22rem;">
            <a class="nav-link" href="{% url 'reviews' %}"><span class="nav-colour">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1676061800/p4%20images/pexels-vidal-balielo-jr-12689160_rj3ifn.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            </span></a>
            <div class="card-body">
                <p class="card-text">A winning birthday cake
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-12 col-lg-4 text-center">
        <div class=" card comp-cards" style="width: 22rem;">
            <a class="nav-link" href="{% url 'reviews' %}"><span class="nav-colour">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1676062180/p4%20images/pexels-dmitry-zvolskiy-1721934_usk1tr.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            </span></a>
            <div class="card-body">
                <p class="card-text">A heavy frosting apple songe cake

                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-12 col-lg-4 text-center ">
        <div class="card comp-cards" style="width: 22rem;">
            <a class="nav-link" href="{% url 'reviews' %}"><span class="nav-colour">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1676062024/p4%20images/pexels-pixabay-264939_snxrri.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            </span></a>
            <div class="card-body">
                <p class="card-text">Zesty lime pastry cake
                </p>
            </div>
        </div>
    </div>
</div>


{%endblock%}