{% extends "base.html" %}

{% block content %}

<!--header image and content-->
<div class="header-image container-sm">
    <div class="image-container">
        <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674401447/pexels-nestor-cortez-960540_y1ji9z.jpg"
            class="img-thumbnail" alt="...">
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 header-title text-center">
            <p>All our produts come form a local source to help support the community and local  Businesses. <br>
                As we server a variety of fresh seasonal ingredients, we like to change our menu every <br>
                couple of weeks. We are located at 149 KING’S ROAD, London, so please feel free to pop <br>
                in and enjoy a cake with  a fine dinning experience.<br>
            </p>
        </div>
    </div>
</div>

<br>

<hr>

<div class="header-title text-center container-sm ">
    <h2 class=" justify-content-center">COMPETITION TIME</h2>
    <p>
        At Viktoria's we like to bake so much that we have a cake competition <br>
        each month. Come and check out our competition page for more information
        <em><h6>Click below to view more!</h6></em>
    </p>
</div>

 <!-- competition posts -->
 <div class="col-9 mt-3 container">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4 gy-3">
            <div class="card comp-cards ">
                <div class="card-body ">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h4 class="text-center">{{ post.title }}</h4>
                    </a>
                    <hr>
                    <p class="card-text text-center">{{ post.created_on}}<i
                            class="fas fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>

{%endblock%}