{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!--Card image-->
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card " style="width:25rem;">
            <img class="card-img-top " src="{{ post.featured_image.url }}">
            <div class="card-body">
                <!--post title section-->
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>


<!--card 2-->
    <div class="col-6">
        <div class="card" style="width:25rem;">
            <!--SHOW LIKES-->
            <div class="card-body">
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button class="like-post" type="submit" name="blogpost_id" value="{{post.slug}}" title="Unlike!" class="btn-like"><i class="fas fa-heart"></i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" title="like!" class="btn-like"><i class="far fa-heart"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            {% endif %}

            <!--NUMBER OF LIKES-->
            {{ post.number_of_likes }} 

            <!-- NUMBER OF COMMENTS-->
            {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
            {% endwith %}

            <hr>

            <!--VIEW ALL COMMENTS-->
            <h5 class="card-title">Comments</h5>
            {% for comment in comments %}

            <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                </span> wrote:
            </p>
            <hp>{{ comment.body | linebreaks }}</p>

                <!--DELETE A COMMENT-->
                {% if user.username == comment.name %}
                <div title="Delete comment!">
                    <a href="{% url 'delete_comment'  comment.pk  %}"><h4><i class="fa-solid fa-trash"></i></h4></a>
                </div>
                <div title="Edit comment">
                    <a href="{% url 'edit_comment' comment.pk %}"><h4><i class="fa-solid fa-pen-to-square"></i></h4></a>
                </div>

                
                {% endif %}
  
                <p class="card-text">Watch video tutorials of course for free!</p>
  
            {% endfor %}
  
              <hr>
  
              <!-- APPROVE COMMENT-->
              {% if commented %}
                  <div class="alert alert-success" role="alert">
                      Your comment is awaiting approval
                  </div>
                  <button class="btn btn-info btn-sm">
                  <a href="{% url 'index' %}" class="post-link">Click to see more posts</a>
                  </button>
                  {% else %}
                  {% if user.is_authenticated %}
  
                  <h4>Leave a comment:</h4>
                  <p>Posting as: {{ user.username }}</p>
  
                  <!--COMMENT FORM-->
                  <form method="post" style="margin-top: 1.3em;">
                      {{ comment_form | crispy }}
                      {% csrf_token %}
                      <button type="submit" title="Submit" class="btn btn-signup btn-success btn-sm">Submit</button>
                  </form>
  
                  <!--NOT LOGGED IN - ALERT USER-->
                  {% else %}
                  <div class="alert alert-success" role="alert">
                      Please Sign in | Register to like or leave a comment!
                      <p>
                          <a class="link" href="{% url 'account_login' %}" title="Sign in">Sign in</a> | <a class="link" title="Sign up"
                          href="{% url 'account_signup' %}">Register</a>
                      </p>
                  </div>
  
                  {% endif %}
              {% endif %}
  
  
              </div>
  
          </div>
  
      </div>
      
      </div>
      
  </div>
    
  

  
{% endblock %}