{% extends "base.html" %}{% block content %}

{% load crispy_forms_tags %}


<div class="masthead">
    <div class="container" style="margin-top: 40px;">
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 col-lg-3 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1676061800/p4%20images/pexels-vidal-balielo-jr-12689160_rj3ifn.jpg" width="100%">
            </div>
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
        </div>
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
            {% else %}
            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
            {% endif %}
        </form>
        {% else %}
        <span class="text-secondary"><i class="far fa-heart"></i></span>
        {% endif %}
        <span class="text-secondary">{{ post.number_of_likes }} </span>
        </div>
    </div>
</div>



<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        <!--if comment approved-->
        {% if commented %}
        <div class="alert alert-success" role="alert">
            Your comment is awaiting approval
        </div>
        {% else %}
        {% if user.is_authenticated %}

        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <div class="alert alert-success" role="alert">
            Please Sign in or Register to leave a comment!
            <p>
                <a class="link" href="{% url 'account_login' %}">Sign in</a> or <a class="link"
                href="{% url 'account_signup' %}">Register</a></p>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
    </div>




{%endblock%}