{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!--Card image-->
<div class="post-image container " style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width:25rem;">
                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="A post of a cake">
                    <div class="card-body">
                    <!--post title section-->
                    {{ post.title }}
                    {{ post.content | safe }}
                </div>
                 <!--Edit post form-->
                 <button type="submit" title="submit" class="btn btn-signup btn-success btn-sm mt-2">
                    <a href="{% url 'edit_post' %}">Edit post</a>
                </button>
            </div>
        </div>
<!--Post comment card-->
    <div class="col-md-6">
        <div class="card" style="width:25rem;">
            <!--SHOW LIKES-->
            <div class="card-body">
            {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button class="like-post" type="submit" name="blogpost_id" value="{{post.slug}}" title="Unlike!" class="btn-like"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" title="like!" class="btn-like"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <!--Number of likes-->
                {{ post.number_of_likes }} 
                <!-- Number of comments-->
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
                <!-- {% endwith %} -->
                <hr>
                <!--View comments-->
                <h5 class="card-title">Comments</h5>
                {% for comment in comments %}
                {{ comment.name }}
                {{ comment.created_on }}
                Wrote: {{ comment.body | linebreaks }}
                <!--Delete comement-->
                {% if user.username == comment.name %}
                    <div title="Delete comment!">
                        <a href="{% url 'delete_comment'  comment.pk  %}"><h4><i class="fa-solid fas fa-trash"></i></h4></a>
                    </div>
                    <!--Edit comment-->
                    <div title="Edit comment">
                        <a href="{% url 'edit_comment' comment.pk %}"><h4><i class="fas fa-edit"></i></h4></a>
                    </div>
                {% endif %}
                {% endfor %}
                <hr>
                <!-- APPROVE COMMENT-->
                {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                   
                    <form class="btn btn-info btn-sm btn-sm" action="{% url 'index' %}">
                        <button>View more posts</button>
                    </form>
                {% else %}
                {% if user.is_authenticated %}
                <h4>Leave a comment:</h4>
                    <h5>Posting as: {{ user.username }}</h5>
                    <!--Submit comment-->
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" title="Submit" class="btn btn-signup btn-success btn-sm mt-2">Submit</button>
                    </form>
                    <!--Not logged in - user aleart-->
                    {% else %}
                    <div class="alert alert-success" role="alert">
                        Please Sign in | Register to like or leave a comment!
                        <h5>
                            <a class="link" href="{% url 'account_login' %}" title="Sign in">Sign in</a> | <a class="link" title="Sign up"
                            href="{% url 'account_signup' %}">Register</a>
                        </h5>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- If there are more than 3 posts, pagination will commence -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link background-gradient">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link background-gradient"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}