{% extends "base.html" %}

{% block content%}


<div class="header-title text-center container-sm">
    <p>
        Think fantastic baking, cutting edge taste sensations and elegant time honoured classics. <br>
        Come and dine in a classic restaurant with a modern touch.
        <hr>
    </p>
</div>


<div class=" card-container row content mb-5 d-flex ">
    <div class=" col-sm-4 col-md-4 col-lg-4  text-center">

        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674743642/pexels-sebastian-coman-photography-3592423_af3706.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">

        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674401059/pexels-vo-thuy-tien-2536967_zulovx.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center ">

        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674743642/pexels-sebastian-coman-photography-3592423_af3706.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<br>

<!-- ADD A BIT MORE SIMPLE CONTENT ABOUT THE RESTAURANT HERE. JUST TO FILL OUT THE PAGE AND GIVE A BETTER UX EXPERIENCE-->



{% endblock %}