{% extends "base.html" %}

{% block content %}


<div class="header-title text-center container-sm">
    <p>
        We create cakes that excite you!  L’ETO is considered to <br>
       serve the best bespoke cakes on the circuit. L’ETO is a leading maker of creative cakes that are made on demand of <br>
      the customer and according to their customization requests.
    </p>
</div>


<div class=" row content-center mb-5 ">
    <div class=" col-sm-2 col-md-12 col-lg-4  text-center ">

        <div class="card" style="width: 22rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674743642/pexels-sebastian-coman-photography-3592423_af3706.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Our goal is to not just bake classic and beautiful cakes, but to aslo give you an
                    experience of fine dinning. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-12 col-lg-4 text-center">

        <div class="card" style="width: 22rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674401059/pexels-vo-thuy-tien-2536967_zulovx.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Come take a look at out tabel of cakes for you to take away.

                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-12 col-lg-4 text-center ">

        <div class="card" style="width: 22rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1675519157/pexels-karolina-grabowska-5468033_zomx47.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Our cheifs work with great .
                </p>
            </div>
        </div>
    </div>
</div>


<div class=" row content-center mb-5 ">
    <div class=" col-sm-2 col-md-12 col-lg-4  text-center ">

        <div class="card" style="width: 22rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674743642/pexels-sebastian-coman-photography-3592423_af3706.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Our goal is to not just bake classic and beautiful cakes, but to aslo give you an
                    experience of fine dinning. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-12 col-lg-4 text-center">

        <div class="card" style="width: 22rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1674401059/pexels-vo-thuy-tien-2536967_zulovx.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Come take a look at out tabel of cakes for you to take away.

                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-12 col-lg-4 text-center ">

        <div class="card" style="width: 22rem;">
            <img src="https://res.cloudinary.com/dsp0aehyj/image/upload/v1675519157/pexels-karolina-grabowska-5468033_zomx47.jpg"
                class="card-img-top" alt="inside the restaurant picture">
            <div class="card-body">
                <p class="card-text">Our cheifs work with great .
                </p>
            </div>
        </div>
    </div>
</div>


{%endblock%}